    

    <h1>Filter Restaurants</h1>
    <form method="POST" action="filterrestaurants">
        <div class='fields'>
            <p><label><b>Select a page number</b></label><input id="page" name="page" type="number" value="{{page}}" required></p>
            <p><label><b># of restaurants to display per page</b></label><input id="perPage" name="perPage" type="number" value="{{perPage}}" required></p>
            <p><label><b>Borough (optional)</b></label><input id="borough" name="borough" type="text" value="{{borough}}"></p>
        </div>
        <div class='submit'><button type="submit">Submit</button></div><br />
    </form>



<h2>Showing {{perPage}} results on Page {{page}} {{#if borough}}filtered by {{borough}}{{/if}}</h2>
<p>  <a class="btn btn-success"  href="insert" role="button">Insert a new Restaurant</a> </p>

<form method="post" action="search">

<div class='fields'>
            <p><label><b>Enter Restaurant ID</b></label><input id="restaurantID" name="restaurantID" type="number"  required></p>
        </div>
        <div class='submit'><button type="submit">Submit</button></div><br />
</form>
{{#if data}}
<table border="1">
    <tr>
        <th>#</th>
        <th>Restaurant ID</th>
        <th>Restaurant Name</th>
        <th>Cuisine</th>
        <th>Borough</th>
        <th>Building Number</th>
        <th>Street Name</th>
        <th>Zip Code</th>
        <th>Grading Date</th>
        <th>Grade</th>
        <th>Score</th>
         <th colspan="2">Action</th>
    </tr>

    {{#each data}}
    <tr>
        <td scope="row"><b>{{@index}}</b></td>
        <td>{{this.restaurant_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.cuisine}}</td>
        <td>{{this.borough}}</td>
        <td>{{this.address.building}}</td>
        <td>{{this.address.street}}</td>
        <td>{{this.address.zipcode}}</td>
        <td>
            <table class='innerTable'>
                {{#each this.grades}}
                <tr>
                    <td>{{this.date}}</td>
                </tr>
                {{/each}}
            </table>
        </td>
        <td>
            <table class='innerTable'>
                {{#each this.grades}}
                <tr>
                    <td>{{this.grade}}</td>
                </tr>
                {{/each}}
            </table>
        </td>
        <td>
            <table class='innerTable'>
                {{#each this.grades}}
                <tr>
                    <td>{{this.score}}</td>
                </tr>
                {{/each}}
            </table>
        </td>

        <td> <a class="btn btn-outline-info" id="myUpdate" href="update?restaurantId={{this.restaurant_id}}" role="button">Update</a> </td>
        <td> <a class="btn btn-outline-danger" href="delete?restaurantId={{this.restaurant_id}}" role="button">Delete</a> </td>
    </tr>
    {{/each}}
    {{else}}
    <h2>There are no results!</h2>
    {{/if}}
</table>