<button class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#filterByPage" aria-expanded="false"
    aria-controls="filterByPage">Filter Restaurants by Page and Borough</button>
<div class="collapse" id="filterByPage"><br />
    <form method="POST" action="searchrestaurants">
        <div class='fields'>
            <p><label><b>Select a page number</b></label><input id="page" name="page" type="number" value="{{page}}"
                    required></p>
            <p><label><b># of restaurants to display per page</b></label><input id="perPage" name="perPage"
                    type="number" value="{{perPage}}" required></p>
            <p><label><b>Borough (optional)</b></label><input id="borough" name="borough" type="text"
                    value="{{borough}}"></p>
        </div>
        <div class='submit'><button type="submit">Submit</button></div><br />
    </form><br />
</div>
<button class="btn btn-success btnMenu" data-bs-toggle="collapse" data-bs-target="#searchByID" aria-expanded="false"
    aria-controls="searchByID">Search Restaurant by ID</button>
<div class="collapse" id="searchByID"><br />
    <form method="post" action="search">
        <div class='fields'>
            <p><label><b>Enter Restaurant ID</b></label><input id="restaurantID" name="restaurantID" type="number"
                    value="{{id}}" required></p>
        </div>
        <div class='submit'><button type="submit">Submit</button></div><br />
    </form><br />
</div>
<a class="btn btn-success btnMenu" href="insert" role="button">Insert a new Restaurant</a>

{{#if perPage}}
<h2>Showing {{perPage}} results on Page {{page}} {{#if borough}}filtered by {{borough}}{{/if}}</h2>
{{else}}
{{#if data}}
<h2>Showing restaurant with id #{{data.0.restaurant_id}}</h2>
{{/if}}
{{/if}}
{{#if data}}
<table border="1">
    <tr>
        <th>#</th>
        <th>Restaurant ID</th>
        <th>Restaurant Name</th>
        <th>Cuisine</th>
        <th>Borough</th>
        <th>Building Number</th>
        <th>Street Name</th>
        <th>Zip Code</th>
        <th>Grading Date</th>
        <th>Grade</th>
        <th>Score</th>
        <th colspan="2">Action</th>
    </tr>

    {{#each data}}
    <tr>
        <td scope="row"><b>{{@index}}</b></td>
        <td>{{this.restaurant_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.cuisine}}</td>
        <td>{{this.borough}}</td>
        <td>{{this.address.building}}</td>
        <td>{{this.address.street}}</td>
        <td>{{this.address.zipcode}}</td>
        <td>
            <table class='innerTable'>
                {{#each this.grades}}
                <tr>
                    <td>{{this.date}}</td>
                </tr>
                {{/each}}
            </table>
        </td>
        <td>
            <table class='innerTable'>
                {{#each this.grades}}
                <tr>
                    <td>{{this.grade}}</td>
                </tr>
                {{/each}}
            </table>
        </td>
        <td>
            <table class='innerTable'>
                {{#each this.grades}}
                <tr>
                    <td>{{this.score}}</td>
                </tr>
                {{/each}}
            </table>
        </td>

        <td> <a class="btn btn-info" id="myUpdate" href="update?restaurantId={{this.restaurant_id}}"
                role="button">Update <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z" />
                </svg></a> </td>
        <td> <a class="btn btn-danger" href="delete?restaurantId={{this.restaurant_id}}" role="button">Delete <svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg></a> </td>
    </tr>
    {{/each}}
    {{else}}
    <h2>There are no results!</h2>
    {{/if}}
</table>